@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Philosopher:wght@700&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    
}


/* Container */
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto ;
    
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../img/Фон1.jpg");
    -webkit-background-sizing: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 0 15px 100px;
    padding-top: 40px;
    text-align: center;
}

.intro__title {
 font-family: 'Philosopher' sans-serif;
 font-size: 50px;
 color: rgb(255, 255, 255);
 margin: 0 0 30px 0;

}

.intro__text {
    color: rgb(80, 36, 36);
    font-family: 'Cormorant', serif;
    font-size: 21px;
    display: inline-block;
    padding: 0px 80px;
    text-align: justify;
    word-spacing: -.2ch;
    text-indent: 65px;
    line-height: 30px;
}


/* Header */
.header {
    width: 100%;
    padding-top: 20px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 100%;
    max-width: 130px;
    height: 130px;

}

.header__logo img {
    width: 100%;
}

.nav {
    margin: 0 0 30px 90px;
}

.nav__link {
    font-family: 'Cormorant', serif;
    color: yellow;
    font-size: 24px;
    padding: 0 10px 0 0;
    text-decoration: none;

    transition: color .3s linear;
}

.nav__link:hover {
    color: #0a0a0a;
    border-bottom: 3px solid rgb(235, 195, 16);
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}



    /* Content */

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
}


.content__first {
    font-family: 'Philosopher' sans-serif;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.938);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.content__mt {
    display: inline-block;
    font-family: 'Cormorant', serif;
    font-size: 28px;
    margin: 0 5px 15px 0;
    word-spacing: -.2ch;
    text-indent: 65px;
    line-height: 30px;
    text-align: justify;


}

.content__mtphoto {
    width: 660px;
    height: 403px;
    background-image: url(../img/Глава1.jpg);
    background-size: cover;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    
}

.content__second {
    font-family: 'Philosopher' sans-serif;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.938);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.content__va {
    display: inline-block;
    font-family: 'Cormorant', serif;
    font-size: 28px;
    margin: 0 5px 0 0;
    word-spacing: -.2ch;
    text-indent: 65px;
    line-height: 30px;
    text-align: justify;
}

.content__vaphoto {
    width: 315px;
    height: 856px;
    background-image: url(../img/Глава2.png);
    background-size: cover;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

.content__third {
    font-family: 'Philosopher' sans-serif;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.938);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.content__rohan {
    display: inline-block;
    font-family: 'Cormorant', serif;
    font-size: 28px;
    margin: 10px 5px 18px 0;
    word-spacing: -.2ch;
    text-indent: 65px;
    line-height: 30px;
    text-align: justify;
}

.content__rphoto {
    width: 624px;
    height: 400px;
    background-image: url(../img/Глава3.jpg);
    background-size: cover;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.content__fourth {
    font-family: 'Philosopher' sans-serif;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.938);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.content__siege {
    display: inline-block;
    font-family: 'Cormorant', serif;
    font-size: 28px;
    margin: 10px 5px 18px 0;
    word-spacing: -.2ch;
    text-indent: 65px;
    line-height: 30px;
    text-align: justify;
}

.content__sphoto {
    width: 600px;
    height: 384px;
    background-image: url(../img/Глава4.jpg);
    background-size: cover;
    float: right;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.content__fifth {
    font-family: 'Philosopher' sans-serif;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.938);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.content__camp {
    display: inline-block;
    font-family: 'Cormorant', serif;
    font-size: 28px;
    margin: 10px 5px 18px 0;
    word-spacing: -.2ch;
    text-indent: 65px;
    line-height: 30px;
    text-align: justify;
}

.content__cphoto {
    width: 600px;
    height: 420px;
    background-image: url(../img/Глава5.jpg);
    background-size: cover;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '§';
    padding: 0 3px;
    position: relative;
    top: -13px;
}

    /* Footer */

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:25px;
    width: 100%;
    background-color: rgb(243, 245, 243);
    color: rgb(231, 15, 15);
    }
    
footer a {
    float:right;
    font-size: 20px;
    font-family:'Cormorant', serif;
    color: rgb(14, 14, 13);
    margin-right: 30px;
    }

.social__link {
    float: left;
    font-size: 18px;
    font-family:'Cormorant', serif;
    color: rgb(228, 161, 15);
    margin-left: 30px;
}



